$theme9: #ffdce9;
$theme10: #ffebf3;

$themeGray0: #fafafa;
$themeGray0p5: #f1f1f1;
$themeGray1: #ececec;
$themeGray2: #dcdcdc;
$themeGray3: #c1c8cc;
$themeGray4: #cbcbcb;
$themeGray3p5: #bababa;
$themeGray5: #a6a6a6;
$themeGray6: #9a9a9a;
$themeGray7: #8e8e8e;
$themeGray8: #717579;
$themeGray9: #64686b;
$themeGray10: #5d6164;

$themeDark1: #4d4f52;
$themeDark2: #383f45;
$themeDark3: #272d2f;
$themeDark4: #1e2224;
$themeDark5: #0a0e0c;

$filterPaginationLightMain: rgba(255,255,255,0.45);
$filterPaginationLightHover: rgba(200,200,200,0.2);
$filterPaginationDarkMain: rgba(255, 255, 255, 0.25);
$filterPaginationDarkHover: rgba(255, 255, 255, 0.4);

$themeRed: #b33a3a;
$themeRed2: #953030;
$themeRed3: #812828;
$themeRed4: #fdd4d4;
$themeRedText: #ce1b1b;

$cardTextColorLight: #222; //todo

$themeWarning: #ffeccc;
$themeWarningBorder: #d69222;
$themeWarningDark: #fcdca7;
$themeWarningDarkBorder: #bd7500;
$themeInfo: #def3ff;
$themeInfoBorder: #0090de;

$themeGreen1: #9aebe7;
$themeGreen2: #adfee0;

$themeGreen1VeryLight: #e7fbfa;
$themeGreen1VeryDark: #2b4e4c;

$themeGreen1Dark: #49ded7;
$themeGreen2Dark: #5df1ba;
$themeGreen1Darker: #08ccc2;
$themeGreen2Darker: #1cda94;
$themeGreen1Disabled: transparent;
$themeGreen2Disabled: transparent;
$themeGreen1Trans: #9aebe7AA;
$themeGreen2Trans: #adfee0AA;

$themeBlueVeryLight: #aeecff;
$themeBlueDark: #4d7d9c;
$themeBlueDarkText: #3a7fab;
$themeBlueDarker: #3e637c;


$themeBlueDTText: #3fb9f3;
$themeBlueDT: #0f9ff3;
$themeBlueDTDarker: #2188c4;
$themeBlueDTDarker2: #176fa1;
$themeText: #0D0F35;
