router-link, p, td, li {
  font-weight: 300;
}

h1, h2, h3, h4, p, div {
  color: #111;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

p, li, label, td, th, a {
  @media (max-width: 900px) {
    // font-size: 14px;
    word-break: break-word;
  }
}

p, a, label, li {
  line-height: 1.55rem;
  font-size: 1.0625rem;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  padding-top: 2rem;
  margin-top: 0;
  @media (max-width: 900px) {
    padding-top: 2rem;
    font-size: 2rem;
  }
}

ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style-type: none;
  li {
    text-indent: -5px;
    margin-top: 0.75rem;
    &:before {
      content: "- ";
      text-indent: -5px;
    }
  }
}

.textAlignCenter {
  text-align: center !important;
}
.textAlignLeft {
  text-align: left;
}

.spaced-list {
  li {
    margin-top: 1rem;
  }
}

.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}

.full-width-text {
  width: fit-content;  
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    max-width: 95%;
  }

  &>p {
    margin-top: 16px;
  }

  p, a, label {
    font-size: 1rem;
  }
}

.full-width-text-wider {
  max-width: 1000px;
  @media (max-width: 1200px) {
    max-width: 800px;
  }
  @media (max-width: 900px) {
    max-width: 90%;
  }
}

.smaller-width-text {
  width: fit-content;
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: flex;
  flex-direction: column;

  @media (max-width: 650px) {
    max-width: 90%;
  }
}

.center-on-mobile {
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
  }
}

.shrikhand {
  font-family: 'Shrikhand', cursive;
  font-weight: 400 !important;
}

.yifferTitle, .coloredYifferTitle {
  font-size: 4.25rem;
  font-family: 'Shrikhand', cursive;
  color: $themeText !important;
  margin: 0.5rem auto 0 auto;
  display: block;
  @media screen and (max-width: 900px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 2.75rem;
  }
}

.coloredYifferTitle {
  color: transparent !important;
  background-image: -webkit-gradient(
    linear, left top, right top, 
    color-stop(0.2, $themeGreen1Dark),
    color-stop(0.8, $themeGreen2Dark)
  );
  background-clip: text;
}

.smallYifferTitleLink {
  font-size: 1.25rem;
  color: $themeDark1;
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

a {
  color: $themeBlueDarkText;
  width: fit-content;
  text-decoration: none;
  font-weight: 400;
}

.link-color {
  color: $themeBlueDarkText;
  font-weight: 400;
}

.underline-link {
  padding-bottom: 1px;
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .2s;
  &:hover, &:focus {
    text-decoration: none;
    background-size: 100% 1px;
    cursor: pointer;
  }
}

label {
  font-weight: 300;
}

.smaller-text {
  font-size: 12px;
}

.red-color {
  color: $themeRedText !important;
}

.semiBold {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}

.courier {
  font-family: 'Andale Mono', monospace;
  font-size: 13px;
}
.mono {
  font-family: 'Andale Mono', monospace;
  padding: 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  width: fit-content;
}
.monoSuccess {
  @extend .mono;
  background-color: #cdffe5;
  border-color: #00ad4e;
}
.monoInfo {
  @extend .mono;
  background-color: $themeInfo;
  border-color: $themeInfoBorder;
}
.monoWarning {
  @extend .mono;
  background-color: $themeWarning;
  border-color: $themeWarningBorder;
}
.monoError {
  @extend .mono;
  background-color: $themeRed4;
  border-color: $themeRed;
}

.icons-and-numbers-row {
  span {
    margin-right: 4px;

    @media (max-width: 900px) {
      margin-right: 0px;
    }
  }
  @media (max-width: 900px) {
    p {
      display: flex;
      flex-direction: column;
    }
  }
}

.dark {
  .mono {
    color: black;
  }

  a {
    color: $themeBlueDTText;
    width: fit-content;
    text-decoration: none;
  }
  
  .link-color {
    color: $themeBlueDTText;
  }

  .smallYifferTitleLink {
    color: $themeBlueDTText;
  }
  .coloredSmallYifferTitle {
    background-clip: text;
    background-image: -webkit-gradient(
      linear, left top, right top, 
      color-stop(0.2, $themeGreen1Dark),
      color-stop(0.8, $themeGreen2Dark)
    );
    color: transparent !important;
  }
}
